:host {
  display: block;
  margin: var(--leaflet-control-margin);
  height: calc(100vh - var(--leaflet-control-margin) * 2);
}

[part='container'] {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 30rem;
  transition: width 0.3s;
}

[part='toggle'] {
  display: block;
  position: absolute;
  appearance: none;
  top: 50%;
  left: 100%;
  height: 2rem;
  width: 1rem;
  border: var(--leaflet-control-border);
  border-radius: var(--leaflet-control-border-radius);
  box-shadow: var(--leaflet-control-box-shadow);
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

[part='toggle']:not(:checked) ~ [part='container'] {
  width: 0;
}

[part='toggle']::after {
  content: '<';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

[part='toggle']:not(:checked)::after {
  content: '>';
}

::slotted(*) {
  margin: 0.5rem;
}
